- id: lights_on_elka
  alias: "Включить елку вечером"
  triggers:
    - trigger: time
      at: "12:00:00"
  actions:
    - action: switch.turn_on
      target:
        entity_id:
          - switch.elka_socket_1

- id: turn_on_lightsw_outside
  alias: "Включить гирлянду вечером"
  triggers:
    - trigger: time
      at: "19:00:00"
  actions:
    - action: switch.turn_on
      target:
        entity_id:
          - switch.girlianda_socket_1

- id: lights_off_midnight
  alias: "Выключить гирлянду, лфмпу и елку в полночь"
  triggers:
    - trigger: time
      at: "00:00:00"
  actions:
    - action: switch.turn_off
      target:
        entity_id:
          - switch.girlianda_socket_1
          - switch.elka_socket_1
          - light.nastolnaia_lampa

- id: humidifier_set_mode
  alias: "Увлажнитель - установить режим"
  triggers:
    - trigger: state
      entity_id: input_select.humidifier_mode
  actions:
    - action: fan.set_preset_mode
      target:
        entity_id: fan.xiaomi_deerma
      data:
        preset_mode: "{{ states('input_select.humidifier_mode') }}"

- id: humidifier_set_target_humidity
  alias: "Увлажнитель - установить целевую влажность"
  triggers:
    - trigger: state
      entity_id: input_number.airhumidifier_target_humidity
  actions:
    - action: xiaomi_miio_airpurifier.fan_set_target_humidity
      target:
        entity_id: fan.xiaomi_deerma
      data:
        humidity: "{{ states('input_number.airhumidifier_target_humidity') | int }}"

- id: humidifier_sync_mode_from_device
  alias: "Увлажнитель - синхронизация режима"
  triggers:
    - trigger: state
      entity_id: fan.xiaomi_deerma
      attribute: preset_mode
  actions:
    - action: input_select.select_option
      target:
        entity_id: input_select.humidifier_mode
      data:
        option: "{{ state_attr('fan.xiaomi_deerma', 'preset_mode') }}"

- id: humidifier_sync_target_from_device
  alias: "Увлажнитель - синхронизация целевой влажности"
  triggers:
    - trigger: state
      entity_id: fan.xiaomi_deerma
      attribute: target_humidity
  actions:
    - action: input_number.set_value
      target:
        entity_id: input_number.airhumidifier_target_humidity
      data:
        value: "{{ state_attr('fan.xiaomi_deerma', 'target_humidity') | int }}"

- id: airpurifier_set_mode
  alias: "Очиститель воздуха - установить режим"
  triggers:
    - trigger: state
      entity_id: input_select.airpurifier_mode
  actions:
    - action: fan.set_preset_mode
      target:
        entity_id: fan.xiaomi_airpurifier
      data:
        preset_mode: "{{ states('input_select.airpurifier_mode') }}"

- id: airpurifier_set_favorite_level
  alias: "Очиститель воздуха - установить уровень"
  triggers:
    - trigger: state
      entity_id: input_number.airpurifier_favorite_level
  actions:
    - action: xiaomi_miio_airpurifier.fan_set_favorite_level
      target:
        entity_id: fan.xiaomi_airpurifier
      data:
        level: "{{ states('input_number.airpurifier_favorite_level') | int }}"

- id: airpurifier_sync_mode_from_device
  alias: "Очиститель воздуха - синхронизация режима"
  triggers:
    - trigger: state
      entity_id: fan.xiaomi_airpurifier
      attribute: preset_mode
  actions:
    - action: input_select.select_option
      target:
        entity_id: input_select.airpurifier_mode
      data:
        option: "{{ state_attr('fan.xiaomi_airpurifier', 'preset_mode') }}"

- id: airpurifier_sync_favorite_from_device
  alias: "Очиститель воздуха - синхронизация уровня"
  triggers:
    - trigger: state
      entity_id: fan.xiaomi_airpurifier
      attribute: favorite_level
  actions:
    - action: input_number.set_value
      target:
        entity_id: input_number.airpurifier_favorite_level
      data:
        value: "{{ state_attr('fan.xiaomi_airpurifier', 'favorite_level') | int }}"
